<ion-view view-title="Filtro - {{phoneNumber}}">
  <ion-content>
      <div>
        <div class="item range range-positive">
          <input type="range" name="volume" min="0" max="100" value="10">
        </div>
      </div>
      <div>
          <div class="button-bar">
            <a class="button">Bares</a>
            <a class="button">Casas Noturnas</a>
            <a class="button">Indiferente</a>
          </div>
      </div>
      <div>
          <div class="button-bar">
            <a class="button">Mulheres</a>
            <a class="button">Homens</a>
            <a class="button">Indiferente</a>
          </div>          
      </div>
      <div>
          <div class="item range range-positive">
            <input type="range" name="volume" min="0" max="200" value="50">
          </div>
      </div>
      <div>
          <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input type="text" placeholder="Email">
            </label>
            <button class="button button-small">
              Submit
            </button>
          </div>
          <div class="card">
            <div class="item item-text-wrap">
              Tag 001
            </div>
          </div>
      </div>
  </ion-content>
</ion-view>
