<ion-view view-title="Filtros">
  <ion-content style="background-color: #F0EFF4;">
	  <div class="card">
		<div class="item item-divider">
			<span class="wrapped">
			Filtre o raio de distância entre o estabelecimento e sua posição atual</span>
		</div>
	  </div>
      <div class="card">
		<div class="item item-divider" style="margin-bottom: 1px;">
			Distância: 
			<output id="rangeDistance">10 Km</output>
		</div>
        <div class="item range range-positive">	
			<input type="range" class="range" name="volume" min="0" max="100" value="10" onchange="rangeDistance.value=value + ' Km'">
        </div>
      </div>
      <div class="card">
          <div class="button-bar">
            <a class="button {{(establishmentType == 'Bares') &&  'active' || ''}}" ng-click="setType($event)">Bares</a>
            <a class="button {{(establishmentType == 'Casas Noturnas') &&  'active' || ''}}" ng-click="setType($event)">Casas Noturnas</a>
            <a class="button {{(establishmentType == 'Indiferente') &&  'active' || ''}}" ng-click="setType($event)">Indiferente</a>
          </div>
      </div>
      <div class="card">
		   <div class="item item-divider" style="margin-bottom: 1px;">
			Quero um lugar com mais:
		  </div>
          <div class="button-bar">
            <a class="button {{(searchType == 'Mulheres') &&  'active' || ''}}" ng-click="setSearchType($event)">Mulheres</a>
            <a class="button {{(searchType == 'Homens') &&  'active' || ''}}" ng-click="setSearchType($event)">Homens</a>
            <a class="button {{(searchType == 'Indiferente') &&  'active' || ''}}" ng-click="setSearchType($event)">Indiferente</a>
          </div>          
      </div>
      <div class="card">
			<div class="item item-divider" style="margin-bottom: 1px;">
				Estou disposto a gastar: 
				<output id="rangeValue">R$ 50,00</output>
			</div>
			<div class="item range range-positive">	
				<input type="range" class="range" name="volume" min="0" max="200" value="50" onchange="rangeValue.value='R$ ' + value + ',00'">
			</div>
      </div>
	  <div class="card">
		<div class="item item-divider">
			<span class="wrapped">Descreva algumas características do local desejado:</span>
		</div>
		<div class="item item-input-inset">
			<label class="item-input-wrapper">
              <input id="txtTag" style="width: 100%;" data-ng-model="tagText" list="tags" placeholder="Ex.: Nome do local, Sertanejo, bar, barato" />
            </label>
            <button class="button button-small" data-ng-click="addTag(tagText);">
              Adicionar
            </button>
			<datalist id="tags">
				<option ng-repeat="item in filterTags" value="{{item}}">
			</datalist>
		</div>
		<div class="item">
			<div class="list">
				<div ng-repeat="selectedItem in selectedTags" class="item item-button-right">
					<span style="color: black;">{{selectedItem}}</span>
					<button class="button" ng-click="removeTag(selectedItem)">
					  <i class="icon ion-ios-close-empty"></i>
					</button>
				</div>
			</div>
		</div>
		<div class="item item-divider" style="text-align: right;">
			<button class="button button-small">Concluído</button>
		</div>
	  </div>
  </ion-content>
</ion-view>
